projects/ZigbeeAdminPanel/flow.json
[{"id":"157188d2.76e2b7","type":"tab","label":"ZigbeeAdminPanel","disabled":false,"info":""},{"id":"6fe94892.33d138","type":"subflow","name":"Network Map","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"a7d0316f.19794","type":"subflow","name":"Pairing Notifications","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"8685509d.f2155","type":"subflow","name":"Devices","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"75c0eca9.b57ab4","type":"subflow","name":"Status","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"c769ea68.90f5d8","type":"subflow","name":"Logging Level","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"5fff39db.4ccdb8","type":"subflow","name":"Remove Device","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"f412cad9.149798","type":"subflow","name":"Rename Device","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"c8c1fec6.8fee1","type":"subflow","name":"Permit Join","info":"","category":"Zigbee2MQTT Admin Panel","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"f0d74998.17f068","type":"ui_group","z":"8685509d.f2155","name":"Devices","tab":"56951276.65130c","order":1,"disp":true,"width":"12","collapse":false},{"id":"da6763c5.0929f","type":"ui_group","z":"","name":"Status","tab":"56951276.65130c","order":2,"disp":true,"width":"6","collapse":false},{"id":"7afd74a1.1f99ac","type":"ui_group","z":"c769ea68.90f5d8","name":"Logging Level","tab":"56951276.65130c","order":4,"disp":true,"width":"6","collapse":false},{"id":"124b2766.907579","type":"ui_group","z":"5fff39db.4ccdb8","name":"Remove Device","tab":"56951276.65130c","order":5,"disp":true,"width":"6","collapse":false},{"id":"60d2ce11.68804","type":"ui_group","z":"","name":"Rename Device","tab":"56951276.65130c","order":6,"disp":true,"width":"6","collapse":false},{"id":"59a34857.1b8d98","type":"ui_group","z":"","name":"Permit Join","tab":"56951276.65130c","order":3,"disp":true,"width":"6","collapse":false},{"id":"35ebb819.fe5a28","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"56951276.65130c","type":"ui_tab","z":"","name":"Zigbee2MQTT Admin Panel","icon":"dashboard"},{"id":"1a98bef4.b1b1a1","type":"mqtt in","z":"6fe94892.33d138","name":"zigbee2mqtt/out","topic":"zigbee2mqtt/bridge/networkmap/graphviz","qos":"2","datatype":"auto","broker":"35ebb819.fe5a28","x":120,"y":140,"wires":[["d99b02e8.116a1"]]},{"id":"b18ecdfb.55002","type":"http in","z":"6fe94892.33d138","name":"","url":"/adminpanelapi/networkmap/graphviz","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["b41c53ec.2e748"]]},{"id":"f063f6b6.fb3c38","type":"http response","z":"6fe94892.33d138","name":"","x":610,"y":200,"wires":[]},{"id":"b41c53ec.2e748","type":"function","z":"6fe94892.33d138","name":"get from flow","func":"var networkmap = flow.get('networkmap');\n\nmsg.payload = networkmap;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["f063f6b6.fb3c38"]]},{"id":"1e7286b4.fb9169","type":"inject","z":"6fe94892.33d138","name":"","topic":"","payload":"graphviz","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"300","x":120,"y":80,"wires":[["b428e0e7.cde6"]]},{"id":"d99b02e8.116a1","type":"function","z":"6fe94892.33d138","name":"store in flow","func":"flow.set('networkmap',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[[]]},{"id":"b428e0e7.cde6","type":"mqtt out","z":"6fe94892.33d138","name":"zigbee2mqtt/in","topic":"zigbee2mqtt/bridge/networkmap","qos":"","retain":"","broker":"35ebb819.fe5a28","x":280,"y":80,"wires":[]},{"id":"77b2f034.8a969","type":"http in","z":"6fe94892.33d138","name":"","url":"/adminpanelapi/networkmap/viz/:engine","method":"get","upload":false,"swaggerDoc":"","x":210,"y":260,"wires":[["2fb3d589.786a6a"]]},{"id":"f0c98c66.b7313","type":"http response","z":"6fe94892.33d138","name":"","statusCode":"","headers":{},"x":810,"y":260,"wires":[]},{"id":"1b2e2339.8f0bad","type":"function","z":"6fe94892.33d138","name":"generate viz html","func":"var html = `<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>NetworkMap</title>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/full.render.js\"></script>\n    <script src='https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js'></script>\n    <style>\n    svg {\n      width: 100% !important;\n      height: 100% !important;\n      min-width: 100% !important;\n      min-height: 80% !important;\n    }\n    </style>\n  </head>\n  <body>\n    <div id=\"output\"></div>\n    \n    <script>\n        var graphData = '${(flow.get('networkmap')).replace(/(\\r\\n|\\n|\\r)/gm,\"\")}';\n        var vizOptions = { format: 'svg', engine: '${msg.engine}'}\n        var graph = document.querySelector(\"#output\");\n        var svg = graph.querySelector(\"svg\");\n        if (svg) {\n          graph.removeChild(svg);\n        }        \n\n        var viz = new Viz();\n\n        viz.renderSVGElement(graphData, vizOptions)\n          .then(function(svg) {\n            svg.id = \"svg_output\";\n            graph.appendChild(svg);              \n            \n            panZoom = svgPanZoom(svg, {\n              zoomEnabled: true,\n              controlIconsEnabled: true,\n              contain: true,\n              center: true,\n              minZoom: 0.1\n            });\n\n            svg.addEventListener('paneresize', function(e) {\n              panZoom.resize();\n            }, false);\n            window.addEventListener('resize', function(e) {\n              panZoom.resize();\n            });\n          })\n          .catch(error => {\n            // Create a new Viz instance (@see Caveats page for more info)\n            viz = new Viz();\n  \n            // Possibly display the error\n            console.error(error);\n          });\n    </script>\n  </body>\n</html>\n`\n\nmsg.payload = html;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["f0c98c66.b7313"]]},{"id":"2fb3d589.786a6a","type":"function","z":"6fe94892.33d138","name":"set engine","func":"var availableEngines = ['circo', 'dot', 'fdp', 'neato', 'osage', 'twopi']\nif(availableEngines.includes(msg.req.params.engine)) { msg.engine = msg.req.params.engine }\nelse { msg.engine = 'dot' }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["1b2e2339.8f0bad"]]},{"id":"519eb8ca.b509b8","type":"mqtt in","z":"a7d0316f.19794","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"35ebb819.fe5a28","x":290,"y":140,"wires":[["50f48e5e.62c3a"]]},{"id":"50f48e5e.62c3a","type":"json","z":"a7d0316f.19794","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["bcf675a2.366898","819c2d.67f7b3d","7be60846.a8f9b8"]]},{"id":"3cfb627b.e5ad2e","type":"ui_toast","z":"a7d0316f.19794","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":80,"wires":[]},{"id":"bcf675a2.366898","type":"function","z":"a7d0316f.19794","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"connecting with device\") {\n\nmsg.payload = (\"A device is attempting to pair...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":80,"wires":[["3cfb627b.e5ad2e"]]},{"id":"aa43de54.f2cf6","type":"ui_toast","z":"a7d0316f.19794","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":950,"y":200,"wires":[]},{"id":"819c2d.67f7b3d","type":"function","z":"a7d0316f.19794","name":"Notification","func":"if(msg.payload.type == \"device_connected\") {\n\nmsg.payload = (\"Device paired successfully: \" + msg.payload.message);\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["aa43de54.f2cf6"]]},{"id":"5875d7e6.170c18","type":"ui_toast","z":"a7d0316f.19794","position":"top right","displayTime":"30","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1030,"y":140,"wires":[]},{"id":"7be60846.a8f9b8","type":"function","z":"a7d0316f.19794","name":"Notification","func":"if(msg.payload.type == \"pairing\" && msg.payload.message == \"device incoming\") {\n\nmsg.payload = (\"A device is incoming or repairing...\");\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":140,"wires":[["5875d7e6.170c18"]]},{"id":"98b9fd76.bbac","type":"mqtt in","z":"8685509d.f2155","name":"zigbee2mqtt/out devices","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"35ebb819.fe5a28","x":350,"y":140,"wires":[["8e2a0bc3.e3fc88"]]},{"id":"2be1c992.50b886","type":"ui_template","z":"8685509d.f2155","group":"f0d74998.17f068","name":"","order":0,"width":"12","height":"12","format":"<table>\n<tr>\n    <td><B><U>Name:</U></B></td>\n    <td><B><U>ieeeAddr:</U></B></td>\n    <td><B><U>Model:</U></B></td>\n    <td><B><U>Type:</U></B></td>\n</tr>\n  <tr ng-repeat=\"obj in msg.payload.message\">\n    <td>{{ obj.friendly_name }}</td>\n    <td>{{ obj.ieeeAddr }}</td>\n    <td>{{ obj.model }}</td>\n    <td>{{ obj.type }}</td>\n  </tr>\n\n</table>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"a309ba21.00a508","type":"mqtt out","z":"8685509d.f2155","name":"zigbee2mqtt/in devices","topic":"zigbee2mqtt/bridge/config/devices","qos":"","retain":"","broker":"35ebb819.fe5a28","x":580,"y":60,"wires":[]},{"id":"586621a1.c3c67","type":"inject","z":"8685509d.f2155","name":"Request Device List","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"x":360,"y":60,"wires":[["a309ba21.00a508"]]},{"id":"6d586b2d.01c1a4","type":"comment","z":"8685509d.f2155","name":"Request Device List","info":"","x":130,"y":60,"wires":[]},{"id":"2cb4470.e75d7ba","type":"comment","z":"8685509d.f2155","name":"Receive Device List","info":"","x":130,"y":140,"wires":[]},{"id":"8e2a0bc3.e3fc88","type":"json","z":"8685509d.f2155","name":"","property":"payload","action":"","pretty":false,"x":530,"y":140,"wires":[["2be1c992.50b886","e35ca18e.81b39","a4d923ae.94d57"]]},{"id":"aa44304d.a02f3","type":"http in","z":"8685509d.f2155","name":"","url":"/adminpanelapi/devicelist","method":"get","upload":false,"swaggerDoc":"","x":530,"y":220,"wires":[["e718a440.aa1c78"]]},{"id":"e35ca18e.81b39","type":"function","z":"8685509d.f2155","name":"Store Data","func":"flow.set('devicelist',msg.payload);","outputs":1,"noerr":0,"x":310,"y":220,"wires":[[]]},{"id":"c15ec650.82cb28","type":"http response","z":"8685509d.f2155","name":"","x":870,"y":220,"wires":[]},{"id":"e718a440.aa1c78","type":"function","z":"8685509d.f2155","name":"Get Data","func":"var devicelist = flow.get('devicelist');\nmsg.payload = devicelist;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["c15ec650.82cb28"]]},{"id":"94dd6965.a15368","type":"comment","z":"8685509d.f2155","name":"HTTP JSON API","info":"","x":120,"y":220,"wires":[]},{"id":"a4d923ae.94d57","type":"function","z":"8685509d.f2155","name":"Store Globally","func":"global.set('zigbee2mqttdevicelist',msg.payload.message);\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":120,"wires":[[]]},{"id":"e95c41b2.c6ca6","type":"mqtt in","z":"75c0eca9.b57ab4","name":"zigbee2mqtt/bridge state","topic":"zigbee2mqtt/bridge/state","qos":"2","datatype":"auto","broker":"35ebb819.fe5a28","x":270,"y":80,"wires":[["a474f1d4.3ef57"]]},{"id":"a474f1d4.3ef57","type":"function","z":"75c0eca9.b57ab4","name":"Format Data","func":"flow.set('bridgestate',msg.payload);\nvar bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["3e870aae.4c87e6"]]},{"id":"8c285982.757658","type":"ui_template","z":"75c0eca9.b57ab4","group":"da6763c5.0929f","name":"","order":0,"width":"6","height":"2","format":"<style>\n    {{msg.style}}\n</style>\n\n<table>\n  <tr>\n    <td>Bridge</td>\n    <td>{{msg.payload.bridgestate}}</td>\n  </tr>\n  <tr>\n    <td>Devices</td>\n    <td>{{msg.payload.numberofdevices}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":140,"wires":[[]]},{"id":"3c33da29.a29906","type":"function","z":"75c0eca9.b57ab4","name":"Format Data","func":"var bridgestate = flow.get('bridgestate');\nvar devicelist = global.get('zigbee2mqttdevicelist');\nmsg.payload = {}\nmsg.payload.bridgestate = bridgestate;\nmsg.payload.numberofdevices = devicelist.length;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["8c285982.757658"]]},{"id":"547163c9.80ff5c","type":"inject","z":"75c0eca9.b57ab4","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":140,"wires":[["3c33da29.a29906"]]},{"id":"3e870aae.4c87e6","type":"debug","z":"75c0eca9.b57ab4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":80,"wires":[]},{"id":"7e680629.be4c68","type":"comment","z":"75c0eca9.b57ab4","name":"Get state","info":"","x":80,"y":80,"wires":[]},{"id":"63c30a46.f48a44","type":"comment","z":"75c0eca9.b57ab4","name":"Update Web UI on Interval","info":"","x":130,"y":140,"wires":[]},{"id":"e36e37fd.a6fc78","type":"http in","z":"75c0eca9.b57ab4","name":"","url":"/adminpanelapi/state","method":"get","upload":false,"swaggerDoc":"","x":270,"y":220,"wires":[["386ba506.c3387a"]]},{"id":"59f81db3.50c8a4","type":"http response","z":"75c0eca9.b57ab4","name":"","x":590,"y":220,"wires":[]},{"id":"386ba506.c3387a","type":"function","z":"75c0eca9.b57ab4","name":"Get Data","func":"var bridgestate = flow.get('bridgestate');\nmsg.payload = bridgestate;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["59f81db3.50c8a4"]]},{"id":"203cd284.3e790e","type":"comment","z":"75c0eca9.b57ab4","name":"HTTP API","info":"","x":80,"y":220,"wires":[]},{"id":"32304055.9c47a","type":"ui_dropdown","z":"c769ea68.90f5d8","name":"","label":"","place":"Select option","group":"7afd74a1.1f99ac","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Info","value":"info","type":"str"},{"label":"Debug","value":"debug","type":"str"},{"label":"Warn","value":"warn","type":"str"},{"label":"Error","value":"error","type":"str"}],"payload":"","topic":"","x":120,"y":60,"wires":[["d2cb0581.bc71a8"]]},{"id":"d2cb0581.bc71a8","type":"mqtt out","z":"c769ea68.90f5d8","name":"zigbee2mqtt/in Logging Level","topic":"zigbee2mqtt/bridge/config/log_level","qos":"","retain":"","broker":"35ebb819.fe5a28","x":380,"y":60,"wires":[]},{"id":"2d7c179b.e0c7e8","type":"ui_text_input","z":"5fff39db.4ccdb8","name":"","label":"Device Name","group":"124b2766.907579","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":300,"y":60,"wires":[["43625520.d24aec"]]},{"id":"3fc61f9.921bfe","type":"mqtt out","z":"5fff39db.4ccdb8","name":"zigbee2mqtt/in Remove","topic":"zigbee2mqtt/bridge/config/remove","qos":"","retain":"","broker":"35ebb819.fe5a28","x":1190,"y":60,"wires":[]},{"id":"d0948bfc.594128","type":"function","z":"5fff39db.4ccdb8","name":"Format Data","func":"flow.set('remove',msg.payload.remove);","outputs":1,"noerr":0,"x":650,"y":60,"wires":[[]]},{"id":"43625520.d24aec","type":"change","z":"5fff39db.4ccdb8","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.remove","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":60,"wires":[["d0948bfc.594128"]]},{"id":"9216ec04.2edf7","type":"function","z":"5fff39db.4ccdb8","name":"Format Data","func":"var remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = remove;\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["3fc61f9.921bfe"]]},{"id":"a0838ee4.4e3b2","type":"ui_button","z":"5fff39db.4ccdb8","name":"","group":"124b2766.907579","order":5,"width":0,"height":0,"passthru":false,"label":"Remove","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":820,"y":60,"wires":[["9216ec04.2edf7","86d75405.06fcd8"]]},{"id":"7ec3ce99.2ea66","type":"comment","z":"5fff39db.4ccdb8","name":"Remove Device","info":"","x":120,"y":60,"wires":[]},{"id":"2b4c6dea.ed38e2","type":"mqtt in","z":"5fff39db.4ccdb8","name":"zigbee2mqtt/logging","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"35ebb819.fe5a28","x":290,"y":120,"wires":[["7acb5c5f.0ee064"]]},{"id":"7acb5c5f.0ee064","type":"json","z":"5fff39db.4ccdb8","name":"","property":"payload","action":"","pretty":false,"x":450,"y":120,"wires":[["cad11805.75edf8"]]},{"id":"b2ba7fc6.c812d","type":"ui_toast","z":"5fff39db.4ccdb8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":790,"y":120,"wires":[]},{"id":"cad11805.75edf8","type":"function","z":"5fff39db.4ccdb8","name":"Notification","func":"if(msg.payload.type == 'device_removed') {\nvar remove = flow.get('remove');\nif (typeof remove !== 'undefined' && remove !== null && remove !== \"\"){\nmsg.payload = (\"Deviced removed: \" + msg.payload.message);\n\n// Reset field\n//remove = \"\";\n//flow.set('remove',msg.payload.message);\n\nreturn msg;\n}\n}\n\n","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["b2ba7fc6.c812d"]]},{"id":"d61f0eb.07f45f","type":"comment","z":"5fff39db.4ccdb8","name":"Notification","info":"","x":110,"y":120,"wires":[]},{"id":"89f00c9c.f71f4","type":"ui_toast","z":"5fff39db.4ccdb8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":1210,"y":120,"wires":[]},{"id":"86d75405.06fcd8","type":"function","z":"5fff39db.4ccdb8","name":"Notification","func":"var remove = flow.get('remove');\nif (typeof remove === 'undefined' || remove === null || remove === \"\"){\nmsg.payload = \"Enter a device to remove\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":1010,"y":120,"wires":[["89f00c9c.f71f4"]]},{"id":"408e52a0.118d0c","type":"ui_text_input","z":"f412cad9.149798","name":"","label":"Old Name","group":"60d2ce11.68804","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":120,"y":140,"wires":[["6d5f2f2d.dc15c"]]},{"id":"325218b.f5632e8","type":"ui_text_input","z":"f412cad9.149798","name":"","label":"New Name","group":"60d2ce11.68804","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"5","topic":"","x":130,"y":200,"wires":[["78f4f800.c62468"]]},{"id":"ee4f8f5b.db6ba","type":"mqtt out","z":"f412cad9.149798","name":"zigbee2mqtt/in Rename","topic":"zigbee2mqtt/bridge/config/rename","qos":"","retain":"","broker":"35ebb819.fe5a28","x":1010,"y":140,"wires":[]},{"id":"15b467f2.a7cae8","type":"function","z":"f412cad9.149798","name":"Format Data","func":"flow.set('oldname',msg.payload.old);","outputs":1,"noerr":0,"x":470,"y":140,"wires":[[]]},{"id":"6d5f2f2d.dc15c","type":"change","z":"f412cad9.149798","name":"change msg old","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.old","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["15b467f2.a7cae8"]]},{"id":"78f4f800.c62468","type":"change","z":"f412cad9.149798","name":"change msg new","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.new","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["720c8fbd.5f4be"]]},{"id":"d4908d82.a2103","type":"function","z":"f412cad9.149798","name":"Format Data","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = {\"old\": oldname, \"new\": newname}\n\n// Reset fields\noldname = \"\";\nnewname = \"\";\nflow.set('oldname',msg.payload.old);\nflow.set('newname',msg.payload.new);\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["ee4f8f5b.db6ba"]]},{"id":"720c8fbd.5f4be","type":"function","z":"f412cad9.149798","name":"Format Data","func":"flow.set('newname',msg.payload.new);","outputs":1,"noerr":0,"x":490,"y":200,"wires":[[]]},{"id":"4465e7c6.af0768","type":"ui_button","z":"f412cad9.149798","name":"","group":"60d2ce11.68804","order":5,"width":0,"height":0,"passthru":false,"label":"Rename","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":640,"y":140,"wires":[["d4908d82.a2103","e226ad34.a043"]]},{"id":"3c024215.9a604e","type":"ui_toast","z":"f412cad9.149798","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":850,"y":200,"wires":[]},{"id":"e226ad34.a043","type":"function","z":"f412cad9.149798","name":"Notification","func":"var oldname = flow.get('oldname');\nvar newname = flow.get('newname');\n\nif (typeof oldname !== 'undefined' && oldname !== null && oldname !== \"\" && typeof newname !== 'undefined' && newname !== null && newname !== \"\"){\nmsg.payload = (\"Rename Device: \" + oldname + \" to \" + newname);\nreturn msg;\n} else {\nmsg.payload = \"Enter device to rename\";\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["3c024215.9a604e"]]},{"id":"9309129a.c81c1","type":"ui_dropdown","z":"c8c1fec6.8fee1","name":"","label":"","place":"Select option","group":"59a34857.1b8d98","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Allow","value":"true","type":"str"},{"label":"Deny","value":"false","type":"str"}],"payload":"","topic":"","x":90,"y":40,"wires":[["49a04471.d5e68c","b4c0f5fc.a47998"]]},{"id":"49a04471.d5e68c","type":"mqtt out","z":"c8c1fec6.8fee1","name":"zigbee2mqtt/in Join","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","broker":"35ebb819.fe5a28","x":270,"y":40,"wires":[]},{"id":"34c09b4.c718264","type":"ui_toast","z":"c8c1fec6.8fee1","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"System Notification","name":"","x":450,"y":100,"wires":[]},{"id":"b4c0f5fc.a47998","type":"function","z":"c8c1fec6.8fee1","name":"Notification","func":"if (typeof msg.payload !== 'undefined' && msg.payload !== null && msg.payload !== \"\"){\nif (msg.payload == \"false\"){\n    msg.payload = \"Permit join: Deny\";\n}\nif (msg.payload == \"true\"){\n    msg.payload = \"Permit join: Allow\";\n}\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["34c09b4.c718264"]]},{"id":"f2f3f72.3802608","type":"subflow:c8c1fec6.8fee1","z":"157188d2.76e2b7","name":"","env":[],"x":160,"y":100,"wires":[]},{"id":"1d55eb4e.57a275","type":"subflow:f412cad9.149798","z":"157188d2.76e2b7","name":"","x":180,"y":140,"wires":[]},{"id":"9441050c.e36f08","type":"subflow:5fff39db.4ccdb8","z":"157188d2.76e2b7","name":"","x":180,"y":180,"wires":[]},{"id":"793595e0.c9487c","type":"subflow:c769ea68.90f5d8","z":"157188d2.76e2b7","name":"","x":170,"y":220,"wires":[]},{"id":"143921f3.87564e","type":"subflow:75c0eca9.b57ab4","z":"157188d2.76e2b7","name":"","x":150,"y":260,"wires":[]},{"id":"527a7a7f.9b7754","type":"subflow:8685509d.f2155","z":"157188d2.76e2b7","name":"","x":150,"y":300,"wires":[]},{"id":"3d65e6f7.0fd6aa","type":"subflow:a7d0316f.19794","z":"157188d2.76e2b7","name":"","env":[],"x":190,"y":340,"wires":[]},{"id":"d1da337d.b956b","type":"subflow:6fe94892.33d138","z":"157188d2.76e2b7","name":"","x":170,"y":380,"wires":[]}]